a {
  text-decoration: none;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: white;
}
/* .navbar img {
  width: 100px;
  position: absolute;
  z-index: 4;
  top: -10px;
} */
.contain {
  width: 1024px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .contain {
    width: 100%;
  }
}
